.faq_father {
  padding-top: 10%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.faq_father h1 {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 2rem; /* Añadido margen inferior para separación */
}

.scrollable-menu {
  padding-top: 1%;
  position: sticky;
  top: 10%; /* Asegura que el menú sea sticky desde una posición */
  height: 80%; /* Ajusta según sea necesario */
  width: 57%;
  overflow-y: auto; /* Añadido para permitir scroll si el contenido excede la altura */
}

.answer {
  padding-left: 7%;
  font-size: larger;
  padding-bottom: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.faq-item {
  /* Añadido borde inferior para separar elementos */
  padding-bottom: 1rem;
}

.faq-icon {
  font-weight: 500;
  color: red;
  font-size: 4.3rem;
  padding-right: 3%;
}

.faq-question {
  font-weight: 500;
  font-size: 2.2rem;
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  word-wrap: break-word; /* Permite que el texto se envuelva */
}

@media (max-width: 1000px) {
  .faq-question {
    font-size: 1.5rem;
  }
  .scrollable-menu {
    width: 88%;
  }
  .faq_father h1 {
    font-size: 2rem;
  }
}
