html {
  scroll-behavior: smooth !important;
}

.contenedor > * {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.presentation_father {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.presentation_content {
  font-family: "Manrope", sans-serif;
  padding-left: 4%;
  position: relative;
  z-index: 2;
  color: #333; /* Adjust text color as needed */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.presentation_content h1 {
  display: flex;
  flex-wrap: wrap;
  color: #1a1a1a; /* Color oscuro */
  font-size: 4.2rem; /* Tamaño grande */
  font-weight: 900; /* Grosor de la fuente */
}
.presentation_content .highlighted {
  color: red; /* Color rojo para "español" */
  background-color: #e0efe789;
}

.presentation_content span {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.img_container {
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_hero {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .presentation_content h1 {
    font-size: 2rem;
  }
  .presentation_content {
    width: 90%;
  }
  .presentation_content span {
    padding-top: 3% !important;
  }

  .presentation_father {
    flex-direction: column;
  }
}
