html {
  scroll-behavior: smooth !important;
}
a {
  text-decoration: none !important;
}

.contenedor > * {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.presentation_father {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.presentation_content {
  font-family: "Manrope", sans-serif;
  padding-left: 4%;
  position: relative;
  z-index: 2;
  color: #333; /* Adjust text color as needed */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.presentation_content h1 {
  display: flex;
  flex-wrap: wrap;
  color: #1a1a1a; /* Color oscuro */
  font-size: 4.2rem; /* Tamaño grande */
  font-weight: 900; /* Grosor de la fuente */
}
.presentation_content .highlighted {
  color: red; /* Color rojo para "español" */
  background-color: rgb(245, 245, 245);
}

.presentation_content span {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.img_container {
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_hero {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.Inscription_father {
  padding-top: 4%;
  transition: transform 0.5s ease-in-out;
  background-color: white;
  width: 100%;
  min-height: 110vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Centrar verticalmente */
  scroll-snap-stop: always;
  font-family: "Manrope", sans-serif;
}

.Inscription_container {
  width: 80%;
  min-height: 52%;
  background-color: #e84227; /* Color de fondo opcional */
  padding: 3%; /* Espaciado interno opcional */
  border-radius: 25px; /* Bordes redondeados opcionales */
  display: flex;
  justify-content: space-evenly;
}
.input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Inscription_text {
  width: 60%;
}
.Inscription_text p {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.Inscription_text span {
  font-size: larger;
  color: white;
}
.input_box .input {
  width: 100%;
  border: transparent;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 4%;
}
.input_box .input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.inscription_form {
  height: 85%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.input_box button:hover {
  background-color: rgb(230, 230, 230);
  border-color: transparent !important;
}

.react-tel-input .selected-flag {
  /* clases del boton del input del telefono */
  border-radius: 9px 0 0 13px !important;
  background-color: white !important;
}
.react-tel-input .form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.react-tel-input .form-control {
  border-radius: 0;
}
.success-popup {
  background-color: rgb(245, 245, 245);
  border-color: #c3e6cb;
  color: black;
  padding: 2%;
  border-radius: 5px;
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.information_box {
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 3%;
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; /* Asegura que el div tenga el ancho completo */
}

.equal-width {
  width: 100%; /* Ancho igual para ambos divs */
}

.img_icons {
  width: 60%;
  transition: transform 0.5s; /* Animation */
}
.img_icons:hover {
  transform: scale(1.2);
}

.information_title {
  font-size: 1.6rem;
  font-weight: 500;
}

.information_dark {
  color: gray;
}
.form-control {
  /* Clases del input */
  width: 100%;
}
.buttom_input {
  border: transparent;
  border-radius: 6px;
  padding: 3% 6%;
  background: white;
}
@media (max-width: 800px) {
  .Inscription_container {
    flex-direction: column;
    margin-bottom: 7%;
  }
  .Inscription_text {
    width: 95%;
  }
  .Inscription_text p {
    font-size: 1.8rem;
    padding-bottom: 0px !important;
  }
  .inscription_form .telephone_input,
  .name_input,
  .buttom_input {
    margin-bottom: 1.5rem;
  }
  .information_title {
    font-size: 1.5rem;
  }
  .information_adress {
    font-size: 0.9rem;
  }
  .information_box {
    flex-direction: column;
  }
  .information {
    align-items: flex-start;
    padding-left: 4%;
    padding-top: 5%;
  }
}
.faq_father {
  padding-top: 10%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.faq_father h1 {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 2rem; /* Añadido margen inferior para separación */
}

.scrollable-menu {
  padding-top: 1%;
  position: sticky;
  top: 10%; /* Asegura que el menú sea sticky desde una posición */
  height: 80%; /* Ajusta según sea necesario */
  width: 57%;
  overflow-y: auto; /* Añadido para permitir scroll si el contenido excede la altura */
}

.answer {
  padding-left: 7%;
  font-size: larger;
  padding-bottom: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.faq-item {
  /* Añadido borde inferior para separar elementos */
  padding-bottom: 1rem;
}

.faq-icon {
  font-weight: 500;
  color: red;
  font-size: 4.3rem;
  padding-right: 3%;
}

.faq-question {
  font-weight: 500;
  font-size: 2.2rem;
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  word-wrap: break-word; /* Permite que el texto se envuelva */
}

@media (max-width: 1000px) {
  .faq-question {
    font-size: 1.5rem;
  }
  .scrollable-menu {
    width: 88%;
  }
  .faq_father h1 {
    font-size: 2rem;
  }
}
.container {
  font-family: "Manrope", sans-serif;
}
.img_logo {
  height: 45px;
  width: 150px;
}
.a:hover {
  color: grey !important;
}
.inscription_bottom {
  background-color: #e84227;
  padding: 7%;
  border-radius: 12px;
}

.inscription_bottom:hover {
  background-color: #b81308 !important;
}
@media (max-width: 1000px) {
  .inscription_bottom {
    padding: 3%;
  }
}
.me_father {
  transition: transform 0.5s ease-in-out;
  background-color: white;
  width: 100%;
  max-height: 121vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  scroll-snap-stop: always;
}

.me_container {
  font-family: "Manrope", sans-serif;
  width: 80%;
  height: 82%;
  background-color: white; /* Color de fondo opcional */
  padding: 20px; /* Espaciado interno opcional */
  border-radius: 25px; /* Bordes redondeados opcionales */
  display: flex;
  flex-direction: column;
}

.me_container span {
  font-size: large;
  font-weight: 400;
}

.description {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img_me {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  z-index: 2;
}
.img_me:hover {
  cursor: pointer;
  box-shadow: inset 12px 12px 20px 35px rgba(0, 0, 255, 0.2);
}
.overlay_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparente inicialmente */
  border-radius: 25px; /* Bordes redondeados para coincidir con el contenedor */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  z-index: 3; /* Asegura que el overlay esté encima de la imagen */
}
.main-content:hover .overlay_img {
  background-color: rgba(0, 0, 0, 0.3); /* Color negro semitransparente */
}
.main-content:hover .play_button {
  color: black; /* Color negro semitransparente */
}
.main-content {
  margin-right: 6%;
  width: 50%;
  flex-shrink: 0;
  position: relative;

  border-radius: 16px;
  cursor: pointer;
}

.teacher_description {
  width: 50%;
}
.video_box {
  padding: 2%;
  border-radius: 25px;
  min-width: 50%;
  display: flex;
  background-color: rgb(245, 245, 245);
}
.modal_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.play_button {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11%;
  /* transform: translate(-50%, -50%); */
  z-index: 4;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  padding: 1%;
  aspect-ratio: 1 / 1;
}

.modal-content {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 8px;
}
.teachers_list {
  display: flex;
  justify-content: center;
  min-width: 50%;
}
.professor-btn {
  width: 15%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin-left: -4%; /* Ajusta según sea necesario para lograr el efecto entrelazado */
  transition: transform 0.5s ease;
  z-index: 1;
}
.professor-btn:hover {
  transform: scale(1.2);
  z-index: 2;
}
.teachers_list .active {
  border: solid red;
}
.close {
  position: absolute;
  top: 200px;
  right: 35px;
  color: black;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  transition: color 0.3s;
  background-color: white;
  border-radius: 50%;
  padding: 1%;
  /* aspect-ratio: 1 / 1; */
  width: 4%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  color: #bbb;
}

@media (max-width: 1000px) {
  .me_container .title {
    font-size: 2rem;
    padding-left: 10%;
  }
  .img_shadow {
    width: 60%;
  }
  .me_container p {
    font-size: 2rem;
  }
  .description {
    flex-direction: column-reverse;
  }
  .me_content {
    padding-top: 7%;
    padding-left: 0px !important;
  }
  .me_container span {
    font-size: medium;
  }
  .me_father {
    align-items: flex-start; /* Cambiar alineación en pantallas pequeñas */
  }
  .me_container {
    width: 100%;
  }
  .img_me_container {
    display: flex;
    justify-content: center;
  }
  .img_shadow {
    left: 20%;
  }
  .teachers_list {
    margin-bottom: 10%;
  }
  .teacher_description {
    width: 85%;
  }
  .video_box {
    flex-direction: column;
    align-items: center;
  }
  .main-content {
    width: 60%;
    height: 394px;
    margin-bottom: 6%;
  }
}

.methodology_father {
  padding-top: 6%;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
  background-color: white;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-family: "Manrope", sans-serif;
  scroll-snap-stop: always;
  flex-direction: column;
}
.title {
  font-size: 3.5rem;
  font-weight: 600;
}
.met_box_1 {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
}
.met_box_2 {
  display: flex;
  justify-content: space-around;
}
.recuadro {
  background-color: rgb(245, 245, 245);
  width: 27%;
  height: 80%;
  border-radius: 25px;
  padding: 2%;
  transition: transform 0.5s; /* Animation */
}
.recuadro:hover {
  transform: scale(1.04);
}
.recuadro h4 {
  color: red;
}
.recuadro p {
  font-size: medium;
}
.recuadro_father {
  width: 90%;
  height: 97%;
  display: grid;
}
.estadisticas_box {
  display: flex;
  justify-content: space-evenly;
}
.estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estadisticas p {
  font-family: "Manrope", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0px;
}
.estadisticas span {
  font-size: larger;
}
.img_recuadro {
  width: 42%;
  height: 75%;
  padding-top: 9%;
}
@media (max-width: 1385px) {
  .recuadro {
    height: 95%;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
  .methodology_father {
    padding-top: 20%;
  }
  .estadisticas p {
    font-size: 1.7rem;
    margin-bottom: 0px;
  }
  .estadisticas_box {
    flex-direction: column;
    justify-content: start;
  }
  .estadisticas {
    align-items: flex-start;
    padding-top: 3%;
  }
  .recuadro_father {
    display: flex;
    flex-direction: column;
  }
  .met_box_1 {
    flex-direction: column;
  }
  .met_box_2 {
    flex-direction: column;
  }
  .recuadro {
    width: 100%;
    margin-bottom: 4%;
  }
}
.pricing_father {
  background-color: rgb(245, 245, 245);
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
.pricing_father .title {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 7%;
}
.pricing_container {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price_box {
  background-color: white;
  width: 20%;
  height: 70%;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0% 2%;
}
.price_box h2 {
  color: red;
}
.img_price {
  width: 60%;
}
.price_box .price {
  font-size: larger;
  font-weight: 600;
}

@media (max-width: 500px) {
  .pricing_father .title {
    padding-top: 10%;
    font-size: 2rem;
    padding-left: 10%;
  }
  .pricing_container {
    flex-direction: column;
  }
  .price_box {
    width: 87%;
    margin-bottom: 4%;
  }
}
.reviews_father {
  background-color: rgb(245, 245, 245);
  padding-top: 6%;
  width: 100%;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
  justify-content: space-around;
}
.carousel {
  width: 70%;
  height: 60%;
}
.reviews_father .title {
  font-weight: 600;
  font-size: 3.5rem;
}
.reviews_container {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  width: 100%; /* Ensure full width */
  height: 69%;
  overflow-x: scroll; /* Enable horizontal scroll */
  scroll-snap-type: x mandatory;
  white-space: nowrap; /* Prevent wrapping of reviews */
  scroll-behavior: smooth;
}
.reviews_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.review_box {
  padding: 1%;
  display: inline-block; /* Display reviews horizontally */
  width: 50%; /* Account for margins */
  margin: 0.5rem;
  background: white;
  border-radius: 25px;
  height: 70%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 35vh;
}

.img_box {
  width: 59%;
  display: flex;
  padding: 1%;
  border-radius: 70px;
}

.img_review {
  max-width: 20%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.cont {
  padding: 0% 2%;
  min-height: 62%;
  width: 100%; /* Adjust width as needed for content */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.review_content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img_next {
  width: 40%;
  cursor: pointer;
  border-radius: 8px;
  padding: 4%;
}
.img_next:hover {
  background-color: rgb(245, 245, 245);
}
.buttons_container {
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
}
.buttons_box {
  display: flex;
  width: 10%;
  justify-content: space-between;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: red !important;
}
.img_quotes_1 {
  width: 6%;
}
.img_quotes_2 {
  width: 6%;
}
.img_stars {
  width: 5%;
}
.review_description {
  font-size: "large";
  text-wrap: wrap;
}

.name_box {
  display: flex;

  width: 70%;
  padding-left: 5%;
}
.name_box h5 {
  font-weight: 600;
}

@media (max-width: 1000px) {
  .reviews_father .title {
    font-size: 2rem;
    padding-left: 10%;
  }

  .name_box h5 {
    font-size: 1rem !important;
  }
  .review_description {
    font-size: small;
  }
  .cont {
    width: 100%;
  }
  .img_box {
    width: 100%;
    justify-content: center;
  }
  .review_box {
    width: 81%;
  }
}
@media (max-width: 500px) {
  .presentation_content h1 {
    font-size: 2rem;
  }
  .presentation_content {
    width: 90%;
  }
  .presentation_content span {
    padding-top: 3% !important;
  }

  .presentation_father {
    flex-direction: column;
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(30%);
  transition: opacity 0.5s, filter 0.9s, transform 0.9s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.professor-btn:nth-child(1) {
  transition-delay: 200ms;
}
.professor-btn:nth-child(2) {
  transition-delay: 400ms;
}
.professor-btn:nth-child(3) {
  transition-delay: 500ms;
}
.professor-btn:nth-child(4) {
  transition-delay: 600ms;
}
.price_box:nth-child(1) {
  transition-delay: 200ms;
}
.price_box:nth-child(2) {
  transition-delay: 400ms;
}
.price_box:nth-child(3) {
  transition-delay: 600ms;
}
