.methodology_father {
  padding-top: 2%;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
  background-color: white;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-family: "Manrope", sans-serif;
  scroll-snap-stop: always;
}
.met_box_1 {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
}
.met_box_2 {
  display: flex;
  justify-content: space-around;
}
.recuadro {
  background-color: #e0efe789;
  width: 27%;
  height: 80%;
  border-radius: 25px;
  padding: 2%;
  transition: transform 0.5s; /* Animation */
}
.recuadro:hover {
  transform: scale(1.04);
}
.recuadro h4 {
  color: red;
}
.recuadro p {
  font-size: medium;
}
.recuadro_father {
  width: 90%;
  height: 97%;
  display: grid;
}
.estadisticas_box {
  display: flex;
  justify-content: space-evenly;
}
.estadisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estadisticas p {
  font-family: "Manrope", sans-serif;

  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0px;
}
.estadisticas span {
  font-size: larger;
  color: red;
}
.img_recuadro {
  width: 42%;
  height: 75%;
  padding-top: 9%;
}
@media (max-width: 1385px) {
  .recuadro {
    height: 95%;
  }
}

@media (max-width: 500px) {
  .methodology_father {
    padding-top: 20%;
  }
  .estadisticas p {
    font-size: 1.7rem;
    margin-bottom: 0px;
  }
  .estadisticas_box {
    flex-direction: column;
    justify-content: start;
  }
  .estadisticas {
    align-items: flex-start;
    padding-top: 3%;
  }
  .recuadro_father {
    display: flex;
    flex-direction: column;
  }
  .met_box_1 {
    flex-direction: column;
  }
  .met_box_2 {
    flex-direction: column;
  }
  .recuadro {
    width: 100%;
    margin-bottom: 4%;
  }
}
