.methodology_father {
  padding-top: 2%;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  background-color: white;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-family: "Manrope", sans-serif;
  scroll-snap-stop: always;
}
.recuadro {
  background-color: #e0efe789;
  width: 27%;
  height: 80%;
  border-radius: 25px;
  padding: 2%;
  transition: transform 0.5s; /* Animation */
}
.recuadro:hover {
  transform: scale(1.04);
}
.recuadro h4 {
  color: red;
}
.recuadro p {
  font-size: medium;
}
.recuadro_father {
  width: 90%;
  height: 97%;
  display: grid;
}
.estadisticas p {
  font-family: "Manrope", sans-serif;

  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0px;
}
.estadisticas span {
  font-size: larger;
  color: red;
}
.img_recuadro {
  width: 42%;
  height: 75%;
  padding-top: 9%;
}
